.empty-chat{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    color:white;

}

.empty-icon{

    font-size:90px;

    color:#6c63ff;

    margin-bottom:20px;

}

.empty-chat p{

    color:#9ca3af;

}