@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
    overflow-x:hidden;
}

a{
    text-decoration:none;
}

button{
    border:none;
    cursor:pointer;
}

input{
    outline:none;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#6366f1;
    border-radius:20px;
}

::-webkit-scrollbar-track{
    background:#111827;
}